---
layout: default
title: Blog
pos: 2
published: true
---

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
        <p class="lead">This blog contains a collection of assorted posts and ramblings related to my interests.</p>
        <p>The majority of posts probably revolves around the daily dev life, random technological innovations, and photography. Here are the most recent posts:</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
        {% for post in site.posts %}
        <div class="media">
            {% capture logo_path %}/assets{{ post.id }}/logo.jpg{% endcapture %}
            {% assign logo_files = site.static_files | where: "path", logo_path %}
            {% if logo_files.size > 0 %}
                <img class="media-object pull-left" width="70" src="{{ site.baseurl }}{{ logo_path }}" alt="{{ post.title }}" />
            {% else %}
                <span class="media-object pull-left glyphicon big-icon {% if post.icon %}{{ post.icon }}{% else %}glyphicon-pencil{% endif %}"></span>
            {% endif %}
            <div class="media-body">
                <h4 class="media-heading">
                    <small>{{ post.date | date: "%b %-d, %Y" }}</small>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <!--<small>({{ post.date | date: "%b %-d, %Y" }})</small>-->
                </h4>
                {{ post.excerpt }}
                <small><a href="{{ post.url | prepend: site.baseurl }}">read more...</a></small>
            </div>
        </div>
        <hr />
        {% endfor %}
    </div>
</div>
