<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>

    {% include front_header.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include front_footer.html %}

    <!-- JavaScript -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
    <script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
